.loading-skeleton {
  background-color: #f0f0f0;
  border-radius: 4px;
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.straight-line {
  position: fixed;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100vh;
  background-color: black;
  z-index: 999;
}

body {
  background-color: #000;
  width: 100%;
}

.loader {
  position: relative;
  background-color: #4e575b;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 4px;
}

.loader::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, #f1f1f1, transparent);
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
  animation: loading 1s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

pre {
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
  background-color: #282c34;
  color: rgb(97, 175, 239)
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropzone:hover {
  background-color: #f5f5f5;
}

.dropzone.active {
  background-color: #e6f7ff;
  border-color: #1890ff;
}

.dropzone p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.dropzone input {
  display: none;
}